matplotlib>=3.6.0
numpy>=1.23.0
opencv-python>=4.7.0.72
PyYAML>=6.0
watchdog>=3.0.0
python-dotenv>=1.0.0
auto-py-to-exe
pyinstaller
insightface>=0.7.3
onnxruntime-gpu>=1.18.0
opencv-python
torch torchvision --index-url https://download.pytorch.org/whl/cu124